<div class="ml-3 mr-3 mt-5">

  <div class="flex items-center">
    <h1 class="text-3xl" *ngIf="object !== undefined"> {{ object.name }} </h1>

    <div class="flex ml-auto">
      <p class="cursor-pointer ml-3 border-1 pl-2 pr-2 pt-1 pb-1 rounded shadow text-gray-500 hover:bg-gray-500 hover:text-white transition-colors"
         (click)="sendEditObjectRequest(objectName, objectId)"> Edit </p>
      <p class="cursor-pointer ml-3 border-1 pl-2 pr-2 pt-1 pb-1 rounded shadow text-gray-500 hover:bg-gray-500 hover:text-white transition-colors"
         (click)="sendDeleteObjectRequest(objectName, objectId)"> Delete </p>

      <p *ngFor="let action of actionNames"
         class="cursor-pointer ml-3 border-1 pl-2 pr-2 pt-1 pb-1 rounded shadow text-gray-500 hover:bg-gray-500 hover:text-white transition-colors"
         (click)="handleAction(action)">
        {{ action }}
      </p>

    </div>
  </div>

  <div class="mt-5">
    <ng-template objectManagement></ng-template>
  </div>

  <div class="flex gap-4">
    <div class="mt-5 p-2 shadow-md w-2/3">
      <div *ngFor="let section of layoutSections" class="mb-5">
        <h3 class="text-xl"> {{section}} </h3>
        <div *ngFor="let objectField of layoutFields[section]" class="mt-2 w-1/2">
          <app-field [fieldData]="objectField"
                     [fieldValue]="object">
          </app-field>
        </div>
      </div>
    </div>

    <div class="mt-5 p-2 shadow-md w-1/3 max-h-[33vh]">
      <app-chat></app-chat>
    </div>
  </div>

  <div class="mt-5" *ngIf="relations != null && relations.length != 0">
    <h3 class="text-2xl"> Related </h3>

    <div *ngFor="let relationName of relationNames">
      <app-relations [relationName]="relationName"
                     [objectName]="objectName"
                     [relationObject]="relations[relationName].objectName"
                     [objectId]="objectId"
                     [state]="state"
                     (clicked)="handleRelationClicked($event)">
      </app-relations>
    </div>
  </div>

</div>
